<h1>Welcome To i4T Family</h1>
<table style="width:100%">
    <tr>

        <td><label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value=""><br>
        </td>

        <td>
            <label for="tag">Tag:</label><br>
            <input type="text" id="tag" name="tag" value=""><br>
        </td>

    </tr>

    <tr>
        <td>
            <label for="host">Host/Socket:</label><br>
            <input type="text" id="host" name="host" value=""><br>
        </td>
        <td>
            <label for="port">Port:</label><br>
            <input type="text" id="port" name="port" value=""><br>
        </td>
    </tr>

    <tr>
        <td>
            <label for="user">User:</label><br>
            <input type="text" id="user" name="user" value=""><br>
        </td>
        <td>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" value=""><br>
        </td>
    </tr>

    <tr>
        <td>
            <label for="database">Database:</label><br>
            <input type="text" id="database" name="database" value=""><br>
        </td>
    </tr>

    <tr>
        <td></td>
        <td> <button onclick="myFunction()">Save</button>
            <button role="button" onclick="myFunction()" ui-sref="location-list">Next</button>
            <button onclick="myFunction()">Connect</button></td>
        <td></td>
    </tr>
</table>